@import "tailwindcss";

:root {
  --font-outfit: var(--font-outfit);
}
body {
  font-family: var(--font-outfit);
}
.scrollbar-hide::webkit-scrollbar{
   display: none
}

.blog-content {
  padding: 36px 0;
}

.blog-content p {
  margin-bottom: 10px;
  font-weight: 500;
}

.blog-content h1 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 26px;
}

.blog-content h2 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 22px;
}

.blog-content h3 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
}